<form [formGroup]="addRecipeForm" novalidate>
  <div class="form-group">
    <label class="center-block">Name:
      <input type="text" class="form-control" formControlName="name">
    </label>
  </div>
  <div class="form-group radio">
    <p>Category:</p>
    <label class="center-block"><input type="radio" formControlName="category" value="Breads">Breads</label>
    <label class="center-block"><input type="radio" formControlName="category" value="Soups">Soups</label>
    <label class="center-block"><input type="radio" formControlName="category" value="Desserts">Desserts</label>
  </div>
  <!--<button type="submit" class="btn btn-default">Submit</button>-->
</form>

<p>Form value: {{ addRecipeForm.value | json }}</p>
<p>Form status: {{ addRecipeForm.status | json }}</p>
