<form [formGroup]="recipeForm" novalidate>
  <div class="form-group">
    <label class="center-block">Name:
      <input type="text" class="form-control" formControlName="name">
    </label>
  </div>
  <div class="form-group radio">
    <p>Category:</p>
    <label class="center-block"><input type="radio" formControlName="category" value="Breads">Breads</label>
    <label class="center-block"><input type="radio" formControlName="category" value="Soups">Soups</label>
    <label class="center-block"><input type="radio" formControlName="category" value="Desserts">Desserts</label>
  </div>
  <div class="well well-lg" formArrayName="ingredients">
    <div *ngFor="let ingredient of ingredients.controls; let i=index" [formGroupName]="i" >
      <div class="form-group">
        <label class="center-block">Ingredient:
          <input class="form-control" formControlName="ingredient">
        </label>
      </div>

      <div class="form-group">
        <label class="center-block">Quantity:
          <input class="form-control" formControlName="quantity">
        </label>
      </div>
    </div>
    <button type="button" (click)="addIngredient()">Add Ingredient</button>

  </div>
</form>

<p>Form value: {{ recipeForm.value | json }}</p>
<p>Form status: {{ recipeForm.status | json }}</p>
