<form (ngSubmit)="submit()" #recipeForm="ngForm" novalidate>
  <div class="form-group">
    <label>Name</label>
    <input type="text" class="form-control" name="name" [(ngModel)]="recipe.name" #name="ngModel" required/>
    <div class="alert alert-danger" [hidden]="name.untouched || name.valid">Recipe name is required.</div>
  </div>
  <div class="form-group">
    <label>Category</label>
    <input type="text" class="form-control" name="category" [(ngModel)]="recipe.category" #category="ngModel" required/>
    <div class="alert alert-danger" [hidden]="category.untouched || category.valid">Recipe category is required.</div>
  </div>
  <button type="submit" class="btn btn-default" [disabled]="!recipeForm.valid">Submit</button>
</form>
